.navbar {
    font-size: 1.5rem; /* Adjust font size */
  }
    
    .navbar-nav .nav-link {
    padding: 60px 120px; /* Adjust padding */
  }



.hide {
  display:none;
}


/* Clicking on image to take center of screen */
/* Style for the modal */
#imageModal {
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Background overlay */
}

#modalContent {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  /*object-fit: contain; /* Maintain the image's aspect ratio */
}

#closeButton {
  position: absolute;
  top: 15px;
  right: 25px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#closeButton:hover,
#closeButton:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

