<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--create the link file for the icon-->
    <link href="/static/premier_ball_icon_clean.png" rel="icon" type="png">

    <!--link the css stylesheet-->
    <link href="/static/styles.css" rel="stylesheet">

    <style>
      html, body {
        height: 100%;
        margin: 0;
      }

    .content {
      min-height: 100vh;
      padding-bottom: 60px; /* Give space for footer */
    }

    footer {
      height: 60px;
    }
    </style>

    <title>PokéCollectorTCG {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!--nav bar from bootstrap-->
    <nav class="navbar navbar-expand-lg py-5 navbar-light bg-danger">
      <a class="navbar-brand text-white" href="/">PokéCollector</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('search') }}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('login') }}">Login/Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('collection') }}">Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('add_binder') }}">Add Binder</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main class="container py-5 text-center">
        {% block main %}{% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
      <div>
        <p>
          THIS APP IS UNNOFICIAL AND NOT AFFILIATED OR ENDORSED BY Nintendo, Creatures, GAMEFREAK or The Pokémon Company International, Inc.
        </p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>