{% extends "base.html" %}

{% block style %}

<style>
.uniform-img {
    width: 400px;  /* Adjust width based on screen size */
    height: auto; /* Keeps aspect ratio */
    max-width: 400px;
    object-fit: cover;
}
</style>

{% endblock %}

{% block title%}- {{ binder_id }}{% endblock %}


{% block main %}
<div style="width: 90%; border: 15px; padding: 50px; margin: 20px; font-style: italic; color: #454545">
    <h1>
        Add a set and then track as you add cards
    </h1>
    <form method="POST">
        <div class="form-row" style="width: 90%; border: 15px; padding: 20px; margin: 10px;">
            <div class="form-group col-md-6">
                <label for="inputName">Add set</label>
                <input type="text" autocomplete="off" class="form-control" id="inputName" name="set" placeholder="Set">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="border: 15px; padding: 20px; margin: 40px;">Submit</button>
    </form>
</div>
<div class="flex-container" style="display: flex; gap: 5x; flex-wrap: wrap; box-sizing: border-box;">
    {% for binder in user_data %}
        {% if binder.image_url == "static/cardBack.jpg" %}
        <div class="flex-item uniform-img">
            <!--display the card image-->
            <div>
                <img src="{{ url_for('static', filename='cardBack.jpg') }}" alt="{{ binder.card_name }}" style="width: 100%; height: auto; padding: 80px; margin: 40px;">
            </div>
            <div style="text-align: center;">
                <p>Name: {{ binder['card_name']}}</p>
                <p>Market Value: {{ binder['market_value']}}</p>
                <p>Obtained: {{ binder['obtained']}}</p>
                <!--omitting the action attribute from the form tag will default the value to the current page-->
                <form method="POST">
                    <input type="hidden" name="addCard"  value="{{ binder.slot_id }}">
                    <button type="submit" class="btn btn-danger">ADD CARD</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="flex-item uniform-img">
            <!--display the card image-->
            <div>
                <img src="{{ binder.image_url }}" alt="{{ binder.card_name }}" style="width: 100%; height: auto; padding: 80px; margin: 40px;">
            </div>
            <div style="text-align: center;">
                <p>Name: {{ binder['card_name']}}</p>
                <p>Market Value: {{ binder['market_value']}}</p>
                <p>Obtained: {{ binder['obtained']}}</p>
                <!--omitting the action attribute from the form tag will default the value to the current page-->
                <form method="POST">
                    <input type="hidden" name="addCard"  value="{{ binder.slot_id }}">
                    <button type="submit" class="btn btn-success" onclick="card_position('{{ binder.slot_id }}')">ADD CARD</button>
                </form>
            </div>
        </div>
        {% endif%}
    {% endfor %}
</div>
<script>
    //crete the variables which are taken from the collection_data
    const collection = JSON.parse('{{ collection_data | tojson | safe }}');

    function card_position(slot_id){
        //slot_id properly passed
        console.log(slot_id)
        
        //perform math on the collection data
        const cards_per_row = collection[0]["binder_columns"] 
        const cards_per_page = collection[0]["binder_columns"] * collection[0]["binder_rows"]
        console.log(cards_per_page)
        let page_number = slot_id/cards_per_page
        const page = Math.ceil(page_number);
        let remainder, row, col, stmt;

        //row and column
        if (slot_id < cards_per_page) {
            remainder = slot_id;
        } else {
            remainder = slot_id % cards_per_page;
        }
        console.log(remainder)
        //if it is the last card on the page, the row and cols are the values in db
        if (remainder == 0){
            
            row = collection[0]["binder_rows"];
            col = collection[0]["binder_columns"];
            stmt = `This card is on page: ${page}, row: ${row}, and column: ${col}`
            alert(stmt);
            return row, col;

        } else{
            //if it isn't the last slot, then it is the ceiling of the remainder over the cards per row
            row_dec = remainder/cards_per_row;
            row = Math.ceil(row_dec);
        }
            
        //now for column
        //if the remainder is less than the cards per row, then it is the remainder
        if (remainder <= cards_per_row && remainder != 0){
            //this is the first row
            col = remainder;
        } else{
            //the column is going to be the remainder less the cards per row times the cards per row
            col = remainder - (cards_per_row * (row-1));
        }
        
        stmt = `This card is on page: ${page}, row: ${row}, and column: ${col}`
        alert(stmt);
        } 
</script>
{% endblock %}


